.section {
  margin-top: 15px;
}

.section-elements {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4px;
}

.label {
  position: absolute;
  top: -15px;
  left: 20px;
  height: 20px;
  background-color: var(--layout-label-background-color);
  border-radius: 8px;
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  z-index: 10;
  font-weight: 500;
  font:
    18px 'Roboto',
    sans-serif;
}
