@if (resourceConfig().title !== '') {
  <div class="resource-array-view">
    <mat-expansion-panel
      #expPanel
      [@.disabled]="true"
      [disabled]="!resourceConfig().collapsible"
      [expanded]="!resourceConfig().collapsible">
      <mat-expansion-panel-header>
        @if (resourceConfig().title) {
          <mat-panel-title>
            <h1 class="title">
              {{ resourceConfig().title }}
            </h1>
          </mat-panel-title>
        }
        <app-action-access-control-wrapper [actionContext]="createActionConfig()">
          <button
            mat-icon-button
            class="exp-panel-add-element-btn"
            color="accent"
            (click)="createResource($event)"
            [matTooltip]="resourceConfig().createButtonLabel"
            matTooltipPosition="above">
            <mat-icon color="accent">add_circle</mat-icon>
          </button>
        </app-action-access-control-wrapper>
      </mat-expansion-panel-header>

      @if (!resourceConfig().collapsible && !resourceConfig().title) {
        <div class="no-title-exp-panel-padding"></div>
      }

      @if (createMode()) {
        <app-resource-create
          [resourceConfig]="createConfig()"
          [parentData]="parentData()"
          (complete)="onCreateCompleted()">
        </app-resource-create>
      }
      @for (resource of store.listData(); track resource['id']; let i = $index) {
        @let resourceId = (resource[resourceConfig().connectorField] || resource['id']) + '';

        @if (parentData() && resourceConfig().iteratedConfig && resourceId && i + 1 <= resourceConfig().limit) {
          <app-compound-resource
            [uuid]="resourceId"
            [parentData]="parentData()"
            [isArrayChild]="true"
            [resourceConfig]="resourceConfig().iteratedConfig">
          </app-compound-resource>
        }
      }

      @if (store.listData().length === 0) {
        <div>No records found</div>
      }
    </mat-expansion-panel>
  </div>
} @else {
  @if (createMode()) {
    <app-resource-create [resourceConfig]="createConfig()" [parentData]="parentData()" (complete)="onCreateCompleted()">
    </app-resource-create>
  }
  @for (resource of store.listData(); track resource['id']; let i = $index) {
    @if (parentData() && resourceConfig().iteratedConfig && resource['id'] && i + 1 <= resourceConfig().limit) {
      <app-compound-resource
        [uuid]="resource['id'] + ''"
        [parentData]="parentData()"
        [isArrayChild]="true"
        [resourceConfig]="resourceConfig().iteratedConfig">
      </app-compound-resource>
    }
  }

  @if (store.listData().length === 0) {
    <div>No records found</div>
  }
}
