<div [class]="linkCreateType() ? 'page-container hide' : 'page-container'">
  <div class="header-container" [class.show-background]="!config().collapsible" [class.indent]="indentTitle()">
    <h1 class="title">{{ listTitle() }}</h1>
    <app-action-access-control-wrapper [actionContext]="createButtonContext()">
      <div class="create-button">
        <button mat-raised-button color="accent" (click)="createResource($event)">
          <div class="edit-text">
            <mat-icon>create</mat-icon>
            <span class="edit-button-text"> {{ createButtonLabel() }} </span>
          </div>
        </button>
      </div>
    </app-action-access-control-wrapper>
  </div>
  <div class="resource-container">
    @if (config().searchable) {
      <mat-form-field class="search">
        <input matInput #qry (keyup)="store.searchTokens.set(qry.value)" placeholder="Search" aria-label="Search" />
        @if (searchableFields() !== '') {
          <mat-hint>Search {{ searchableFields() }}</mat-hint>
        }
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    }
    <app-grid
      [rowData]="processedRowData()"
      [columnDefs]="columns()"
      [enableRowExpansion]="config().enableRowExpansion"
      [detailTemplate]="expandedRowTemplate">
    </app-grid>
  </div>
</div>

<ng-template #expandedRowTemplate let-rowData>
  @defer {
    <app-compound-resource
      [navAfterDelete]="false"
      (deleted)="store.reloadListData()"
      [uuid]="rowData.id"
      [resourceConfig]="expansionConfig()">
    </app-compound-resource>
  }
</ng-template>
